<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DermaScan | one stop scan</title>

        <meta name="description" content="Croppie is an easy to use javascript image cropper.">

        <meta property="og:title" content="Croppie - a javascript image cropper">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://foliotek.github.io/Croppie">
        <meta property="og:description" content="Croppie is an easy to use javascript image cropper.">
        <meta property="og:image" content="https://foliotek.github.io/Croppie/demo/hero.png">

        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ url_for('static', filename='dependencies/sweetalert.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dependencies/croppie.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dependencies/demo.css') }}">
        <!-- <link rel="icon" href="//foliotek.github.io/favico-64.png" /> -->
    </head>
    <body>

        <section class="documentation">
            <a id="documentation" name="documentation"></a>
            <div class="section-header"><h2>DermaScan</h2></div>
            <div class="container">

                <section>
                    <h3></h3>
                    <ul>

                    </ul>
                </section>
            </div>
        </section>

        <section>
                <div class="demo-wrap upload-demo">
                    <div class="container">
                    <div class="grid" style="overflow: visible; padding-bottom: 5%;">
                        <div class="col-1-2">

                            <div class="actions">
                                <a class="btn file-btn">
                                    <span>Scan</span>
                                    <input type="file" id="upload" value="Choose a file" accept="image/*" />
                                </a>
                                <button class="upload-result">Result</button>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="upload-msg">
                                Add image to start cropping
                            </div>
                            <div class="upload-demo-wrap">
                                <div id="upload-demo"></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </section>

        <section style="padding-left:30%">
          <h4>Select symptoms</h4>
          <h4 style="color:#0091ea">लक्षण चुनें</h4>
          <p>In case you are having any of the below symptoms, please provide information</p>
          <p style="color:#0091ea">यदि आपको निम्न लक्षणों में से कोई भी हो, तो कृपया जानकारी प्रदान करें</p>
          <table>
            <tr>
              <th>Symptom <p style="color:#0091ea">लक्षण</p></th>
              <th>Duration <p style="color:#0091ea">अवधि</p></th>
              <!-- <th>Body part</th> -->
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value1" value="symptom1"> Blister(s) </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value2" value="symptom2"> Fissures </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value3" value="symptom3"> Flakiness </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value4" value="symptom4"> Stinging </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value5" value="symptom5"> Thickness </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value6" value="symptom6"> Scales </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value7" value="symptom7"> Darkening of the skin </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value8" value="symptom8"> Loss of colour </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value9" value="symptom9"> Peeling </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value10" value="symptom10"> Rashes </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value11" value="symptom11"> Small bump(s) </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value12" value="symptom12"> Ulcers </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value13" value="symptom13"> Redness of skin </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label><input type="checkbox" name="value14" value="symptom14"> Sores </br></label></td>
              <td><input type="number">
                <select>
                  <option value="days"> Days </option>
                  <option value="weeks"> Weeks </option>
                  <option value="months"> Months </option>
                </select>
              </td>
            </tr>
          </table>

          <br>

          <h4>Other description<h4>
          <h4 style="color:#0091ea">अन्य विवरण</h4>
          <textarea style="resize: none" rows="4" cols="50" placeholder="enter any other vital information here in case of any missed symptoms"></textarea>

          <br>

          <h4>Are you taking any drug under medical prescription?</h4>
          <h4 style="color:#0091ea">क्या आप मेडिकल प्रिस्क्रिप्शन के तहत कोई दवा ले रहे हैं?</h4>
          <textarea id="drug_info" style="resize: none" rows="4" cols="50" placeholder="provide the name of the drugs separated by comma"></textarea>
        </section>

      <hr>

        <section>
            enerating HTML from within Python is not fun, and actually pretty cumbersome because you have to do the HTML escaping on your own to keep the application secure. Because of that Flask configures the Jinja2 template engine for you automatically.

To render a template you can use the render_template() method. All you have to do is provide the name of the template and the variables you want to pass to the template engine as keyword arguments. Here’s a simple example of how to render a template:
        </section>

        <footer>
            Copyright &copy; 2016 | Foliotek
        </footer>
        <script src="{{ url_for('static', filename='dependencies/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dependencies/sweetalert.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dependencies/croppie.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dependencies/demo.js') }}"></script>
        <script src="{{ url_for('static', filename='dependencies/exif.js') }}"></script>

        <script>
            Demo.init();
        </script>

    </body>
</html>
